# Node.js modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist
build

# Temporary files
tmp
temp
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor directories
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Other files to ignore
coverage/
*.tgz
*.zip
